*.class
*.jar
*.war
*.ear
*.log
*.ctxt

target/
dependency-reduced-pom.xml
release.properties
buildNumber.properties

.gradle/
build/
!gradle-wrapper.jar

.vscode/

.mvn/

.DS_Store
Thumbs.db

chromedriver*
geckodriver*
selenium-server-standalone*.jar